<div class="container">
    <div class="contactCard">
        <div class="data">
            <p>
                <span>Name:</span> This is name
            </p>
            <br>
            <p>
                <span>Email:</span> This is email
            </p>
            <br>
            <p>
                <span>Phone Number:</span> This is phone number
            </p>
        </div>
        <div class="message">
            <h1>
                Message
            </h1>
            <p>
                This is the message
            </p>
        </div>
    </div>
    <div class="contactCard">
        <div class="data">
            <p>
                <span>Name:</span> This is name
            </p>
            <br>
            <p>
                <span>Email:</span> This is email
            </p>
            <br>
            <p>
                <span>Phone Number:</span> This is phone number
            </p>
        </div>
        <div class="message">
            <h1>
                Message
            </h1>
            <p>
                This is the message
            </p>
        </div>
    </div>
</div>