<div class="container">
    <form action="POST" class="contactForm">
        <div class="field">
            <label for="name">
                Name
            </label>
            <input type="text" placeholder="Name" name="name" class="fieldWidth" required>
        </div>
        <div class="field">
            <label for="link">
                Link
            </label>
            <input type="text" placeholder="Link" name="link" class="fieldWidth" required>
        </div>
        <div class="field">
            <label for="icon">
                Icon
            </label>
            <textarea name="icon" placeholder="Icon"  class="fieldWidth" id="textarea" required></textarea>
        </div>  
        <input type="submit" value="Save" class="submitButton">
    </form>
</div>