.container {
    width: 100%;
    height: 100vh;
    padding: 10%;
    background-color: var(--navy);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.icon {
    cursor: pointer;
}

.icon :hover {
    background-color: var(--light-navy);
    border-radius: 50%;
}

.socialMedia {
    display: flex;
    gap: 10px;
    align-items: center;
}

.addSocial {
    background-color: var(--light-navy);
    border-radius: 50%;
}